<div class="home-container">
  


  <section class="home-section">
    <div class="feed-header">
      <h2 class="section-title">Actividad Reciente</h2>
      
      <div class="feed-tabs" *ngIf="!reviewIdFromUrl">
        <button 
          class="pill-btn"
          [class.active]="currentMode === 'all'" 
          (click)="setMode('all')">
          Global
        </button>
        <button 
          class="pill-btn"
          [class.active]="currentMode === 'following'" 
          (click)="setMode('following')">
          Siguiendo
        </button>
      </div>
    </div>

    <app-review-feed
      [highlightReviewId]="reviewIdFromUrl"
      [mode]="currentMode"
      [followingIds]="followingIds">
    </app-review-feed>
  </section>

  <router-outlet></router-outlet>
</div>