<nav>
  <div class="home" (click)="goHome()">
    <img src="assets/home-wifi-svgrepo-com.png" class="home-icon" />
  </div>

  <div class="search-container">
    <div class="search-bar">
      <i class="fa fa-search icon-search"></i>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange(searchTerm)"
        placeholder="¿Qué quieres escuchar?"
      />
    </div>

    <div
      *ngIf="showResults && searchResults"
      class="search-results-dropdown"
      [class.has-results]="searchResults.tracks.length || searchResults.albums.length || searchResults.artists.length"
    >
      
      <div class="result-section" *ngIf="searchResults.tracks.length > 0">
        <h3 class="section-title">Canciones</h3>
        <div class="list-item" *ngFor="let track of searchResults.tracks" (click)="viewSongDetails(track.id)">
          <img [src]="track.album?.images[2]?.url" class="item-thumb" alt="track">
          <div class="item-info">
            <span class="item-name">{{ track.name }}</span>
            <span class="item-sub">{{ track.artists[0].name }}</span>
          </div>
          <span class="item-type">Canción</span>
        </div>
      </div>

      <div class="result-section" *ngIf="searchResults.albums.length > 0">
        <h3 class="section-title">Álbumes</h3>
        <div class="list-item" *ngFor="let album of searchResults.albums" (click)="viewAlbumDetails(album.id)">
          <img [src]="album.images[2]?.url" class="item-thumb" alt="album">
          <div class="item-info">
            <span class="item-name">{{ album.name }}</span>
            <span class="item-sub">{{ album.artists[0].name }}</span>
          </div>
          <span class="item-type">Álbum</span>
        </div>
      </div>

      <div class="result-section" *ngIf="searchResults.artists.length > 0">
        <h3 class="section-title">Artistas</h3>
        <div class="list-item" *ngFor="let artist of searchResults.artists" (click)="viewArtistDetails(artist.id)">
          <img [src]="artist.images[2]?.url || 'assets/default-artist.png'" class="item-thumb artist-circle" alt="artist">
          <div class="item-info">
            <span class="item-name">{{ artist.name }}</span>
          </div>
          <span class="item-type">Artista</span>
        </div>
      </div>
    </div>
  </div>

  <div class="profile" (click)="goToProfile()">
    <span>{{ userName || "Usuario" }}</span>
  </div>
</nav>