.album-details {
  font-family: var(--fuente);
  padding: 20px;
}

.album-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.album-header img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
}

.album-info {
  font-size: 1.1rem;
}

.track-list {
  margin-top: 20px;
}

.track-item {
  margin-bottom: 15px;
}

.track-item span {
  font-size: 1.2rem;
}

.track-item audio {
  margin-top: 5px;
  display: block;
}

.track-item div {
  margin-top: 10px;
}

.track-item div span {
  color: #888;
  font-style: italic;
}
