<div *ngIf="album" class="album-details">
  <div class="album-header">
    <div class="album-info">
      <img [src]="album.images[0]?.url" alt="{{ album.name }}" />
      <div class="album-data">
        <h2>{{ album.name }}</h2>
        <span>{{ album.release_date }}</span>
        <p>
          Artista:
          <a [routerLink]="['/artist', album.artists[0]?.id]">{{
            album.artists[0].name
          }}</a>
        </p>
      </div>
    </div>
    <!-- Agregar el botón Crear Reseña -->
    <div class="botones">
      <button (click)="addToFavorites()" >🤍</button>
      <button (click)="openReviewComponent()">Crear Reseña</button>
    </div>
  </div>

  <div class="track-list">
    <ul>
      <li *ngFor="let track of album.tracks.items">
        <div class="track-item">
          <span> {{ track.track_number }} - {{ track.name }} </span>
          <!-- Mostrar un preview si está disponible -->
          <div *ngIf="track.preview_url">
            <audio controls [src]="track.preview_url"></audio>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Contenedor de superposición para la reseña -->
  <div *ngIf="showReviewComponent" class="overlay">
    <app-create-review
      [selectedAlbum]="album"

      (close)="closeReviewComponent()"
      (reviewCreated)="onReviewCreated($event)"
    ></app-create-review>
  </div>

  <!-- Mostrar las reseñas debajo de los detalles del álbum -->
  <div *ngIf="reviews.length > 0" class="reviews-section">
    <h3>Reseñas publicadas</h3>
    <div *ngFor="let review of reviews" class="review">
      <p><strong>Álbum:</strong> {{ review.albumName }}</p>
      <p><strong>Artista:</strong> {{ review.artistName }}</p>
      <p><strong>Reseña:</strong> {{ review.reviewText }}</p>
      <p>
        <strong>Calificación:</strong>&nbsp;
        <span *ngFor="let star of [1, 2, 3, 4, 5]">
          <i
            class="fa"
            [ngClass]="star <= review.rating ? 'fa fa-star' : 'fa fa-star-o'"
          ></i>
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="reviews.length === 0" class="no-reviews">
    No hay reseñas publicadas.
  </div>
</div>
