.album-details {
  font-family: var(--fuente);
  padding: 20px;
}

.album-details a {
  text-decoration: none; /* Remove underline */
  color: var(--verde); /* Inherit color from parent */
}

.album-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
}

.album-header img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  margin-right: 20px;
}

.album-header button {
  background-color: var(--verde);
  color: var(--grisclaro);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all ease-in 0.3s;
  box-shadow: 1px 1px 112px 96px rgba(77, 189, 88, 0.54) inset;
}

.album-header button:hover {
  text-shadow: 1px 1px 21px rgba(0, 0, 0, 0.79);
}

.album-info {
  display: flex;
  font-size: 1.1rem;
}

.track-list {
  margin-top: 20px;
}

.track-list ul {
  list-style: none;
  padding: 0;
}

.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gris);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all ease-in 0.3s;
  box-shadow: 1px 1px 112px 0px rgba(0, 0, 0, 0.77);
}

.track-item:hover {
  transform: scale(1.02);
  color: inherit;
}

.track-item span {
  font-size: 1.1rem;
  color: var(--verde);
}

.botones {
  display: flex;
  gap: 10px;
}
/* Contenedor de la sección de reseñas */
.reviews-section {
  padding: 20px;
  background-color: var(--negroclaro); /* Fondo oscuro para la sección */
  border-radius: 10px;
  margin-top: 20px;
}

/* Título de la sección de reseñas */
.reviews-section h3 {
  font-size: 1.5rem;
  color: var(--verde); /* Color de texto para el título */
  margin-bottom: 15px;
}

/* Estilo de cada tarjeta de reseña */
.review {
  background-color: var(--negro); /* Fondo oscuro para cada reseña */
  border: 1px solid var(--grisclaro); /* Borde en un tono gris claro */
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del texto de las reseñas */
.review p {
  margin: 5px 0;
  color: var(--grisclaro); /* Texto en color claro */
  font-size: 1rem;
}

/* Estilo del nombre del álbum y artista */
.review p strong {
  color: var(--verde); /* Color destacado para los títulos dentro de cada reseña */
  font-weight: bold;
}

/* Contenedor de las estrellas de calificación */
.review-rating {
  display: flex;
  gap: 2px;
}

/* Estilo de las estrellas */
.review-rating i {
  font-size: 1.2rem;
  color: gold; /* Estrellas doradas */
}
