<nav>
  <div class="home">
    <img
      src="assets/home-wifi-svgrepo-com.png"
      (click)="goHome()"
      class="home-icon"
    />
  </div>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange(searchTerm)"
      placeholder="Buscar..."
    />
  </div>

  <!-- Ícono de Perfil -->
  <div class="profile">
    <img
      src="../../../public/profile-icon.png"
      alt="Perfil"
      (click)="goToProfile()"
      class="profile-icon"
    />
  </div>

  <button (click)="logOut()">Cerrar sesion</button>

  <!-- Resultados -->
  <div
    *ngIf="showResults && searchResults"
    class="search-results animated"
    [ngClass]="{
      hidden:
        !searchResults.tracks.length &&
        !searchResults.albums.length &&
        !searchResults.artists.length
    }"
    #resultsBox
  >
    <div class="result-column" #resultsBox>
      <h3>Canciones</h3>
      <ul>
        <li *ngFor="let track of searchResults.tracks">
          <button (click)="viewSongDetails(track.id)">
            {{ track.name }} - {{ track.artists[0].name }}
          </button>
        </li>
      </ul>
    </div>

    <!-- Álbumes -->
    <div *ngIf="searchResults.albums.length > 0" class="result-column">
      <h3>Álbumes</h3>
      <ul>
        <li *ngFor="let album of searchResults.albums">
          <button (click)="viewAlbumDetails(album.id)">
            {{ album.name }} - {{ album.artists[0].name }}
          </button>
        </li>
      </ul>
    </div>

    <!-- Artistas -->
    <div *ngIf="searchResults.artists.length > 0" class="result-column">
      <h3>Artistas</h3>
      <ul>
        <li *ngFor="let artist of searchResults.artists">
          <button (click)="viewArtistDetails(artist.id)">
            {{ artist.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
