<nav>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Busca una canción, álbum o artista"
      (keydown.enter)="onSearch()"
    />
    <button (click)="onSearch()">Buscar</button>
  </div>

  <div class="home">
    <img
      src="../../../public/home-wifi-svgrepo-com.png"
      alt="Inicio"
      (click)="goHome()"
      class="home-icon"
    />
  </div>
  <!-- Resultados -->
  <div
    *ngIf="showResults && searchResults"
    class="search-results animated"
    [ngClass]="{
      hidden:
        !searchResults.tracks.length &&
        !searchResults.albums.length &&
        !searchResults.artists.length
    }"
    #resultsBox
  >
    <div class="result-column" #resultsBox>
      <h3>Canciones</h3>
      <ul>
        <li *ngFor="let track of searchResults.tracks">
          <button (click)="viewSongDetails(track.id)">
            {{ track.name }} - {{ track.artists[0].name }}
          </button>
        </li>
      </ul>
    </div>

    <!-- Álbumes -->
    <div *ngIf="searchResults.albums.length > 0" class="result-column">
      <h3>Álbumes</h3>
      <ul>
        <li *ngFor="let album of searchResults.albums">
          <button (click)="viewAlbumDetails(album.id)">
            {{ album.name }} - {{ album.artists[0].name }}
          </button>
        </li>
      </ul>
    </div>

    <!-- Artistas -->
    <div *ngIf="searchResults.artists.length > 0" class="result-column">
      <h3>Artistas</h3>
      <ul>
        <li *ngFor="let artist of searchResults.artists">
          <button (click)="viewArtistDetails(artist.id)">
            {{ artist.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
