<div class="overlay">
  <div class="review-container">
    <div class="texto">
      <h3>Escribe una reseña para</h3>
      <h3 class="nombre">{{ albumName }}</h3>
    </div>
    <textarea
      [(ngModel)]="reviewText"
      class="review-text"
      placeholder="Escribe tu reseña..."
    ></textarea>
    <div class="rating-container">
      <label>Calificación:</label>
      <div class="stars">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]"
          (click)="setRating(star)"
          [class.filled]="star <= rating"
        >
          &#9733;
        </span>
      </div>
    </div>
    <div class="botones">
      <button (click)="submitReview()">Enviar Reseña</button>
      <button (click)="closeReview()">Cerrar</button>
    </div>
  </div>
</div>

