<div class="overlay">
  <div class="review-container">
    <h2>Crear Reseña</h2>
    <textarea
      [(ngModel)]="reviewText"
      class="review-text"
      placeholder="Escribe tu reseña..."
    ></textarea>
    <div class="rating-container">
      <label for="rating">Calificación:</label>
      <input type="number" id="rating" [(ngModel)]="rating" min="0" max="5" />
    </div>
    <button (click)="submitReview()">Enviar Reseña</button>
    <button (click)="closeReview()">Cerrar</button>
    <!-- Botón para cerrar la ventana de reseña -->
  </div>
</div>

<!-- Mostrar las reseñas publicadas -->
<h3>Reseñas publicadas</h3>
<div *ngIf="reviews.length === 0" class="no-reviews">
  No hay reseñas publicadas.
</div>
<div *ngFor="let review of reviews" class="review">
  <p><strong>Álbum:</strong> {{ review.albumName }}</p>
  <p><strong>Artista:</strong> {{ review.artistName }}</p>
  <p><strong>Reseña:</strong> {{ review.reviewText }}</p>
  <p><strong>Calificación:</strong> {{ review.rating }} estrellas</p>
</div>
