<div class="review-feed">
  <div *ngFor="let review of reviews; let i = index" class="review">
    <div *ngIf="getUserInfo(i) && getAlbumInfo(i)">
      <div class="review-header">
        <h4>{{ getUserInfo(i)?.username }}</h4>
        <span>{{ review.timestamp.toDate() | date:'short' }}</span>
      </div>
      <p>{{ review.comment }}</p>
      <div class="rating">
        <!-- Generar siempre 5 estrellas, con las primeras 'review.rating' en amarillo -->
        <span *ngFor="let star of [0,1,2,3,4]; let j = index"
              [ngClass]="{'filled': j < review.rating}">
          &#9733;
        </span>
      </div>
      <div class="album-info">
        <img [src]="getAlbumInfo(i)?.images[2]?.url" alt="Album cover" width="50" height="50">
        <span>{{ getAlbumInfo(i)?.name }}</span>
      </div>
    </div>
  </div>
</div>
