<div class="review-feed">
  <div *ngFor="let review of reviews; let i = index" class="review">
    <div *ngIf="getUserInfo(i) && getAlbumInfo(i)">
      <div class="review-header">
        <h4>
          <a [routerLink]="['/users', getUserInfo(i)?.id]">{{ getUserInfo(i)?.username }}</a>
        </h4>
        <span>{{ review.timestamp.toDate() | date:'short' }}</span>
      </div>
      <p>{{ review.comment }}</p>

      <!-- Calificación en estrellas -->
      <div class="rating">
        <span *ngFor="let star of [0,1,2,3,4]; let j = index"
              [ngClass]="{'filled': j < review.rating}">
          &#9733;
        </span>
      </div>

      <!-- Información del álbum -->
      <div class="album-info">
        <img [src]="getAlbumInfo(i)?.images[2]?.url" alt="Album cover" width="50" height="50">
        <span>{{ getAlbumInfo(i)?.name }}</span>
      </div>

      <!-- Sección de likes -->
      <div class="like-section">
        <button (click)="toggleLike(review)">
          <span *ngIf="isLikedByUser(review)">❤️</span>
          <span *ngIf="!isLikedByUser(review)">🤍</span>
        </button>
        <span>{{ review.likes?.length || 0 }} Likes</span>
      </div>
      <div class="comments-section">
        <h5>Comentarios</h5>
        <div *ngFor="let comment of review.comments">
          <p><strong>{{ getUserName(comment.userId) }}:</strong> {{ comment.content }}</p>
        </div>

        <!-- Formulario para agregar un nuevo comentario -->
        <div *ngIf="currentUser">
          <input [(ngModel)]="newCommentContent[review.id!]" placeholder="Agregar un comentario..." />
          <button (click)="addCommentToReview(review.id!, newCommentContent[review.id!])" [disabled]="!review.id">Comentar</button>
        </div>
      </div>
    </div>
  </div>
</div>
