<div *ngIf="user">
  <h2>{{ user.username }}</h2>
  <p>Email: {{ user.email }}</p>
  <p><strong>Seguidores:</strong> {{ user.followers?.length || 0 }}</p>
  <p><strong>Seguidos:</strong> {{ user.following?.length || 0 }}</p>

  <h3>Favoritos</h3>
  <h4>Álbumes Favoritos</h4>
  <app-album-list [albums]="favoriteAlbumsDetails"></app-album-list>
  <h4>Artistas Favoritos</h4>
  <app-artist-list [artists]="favoriteArtistsDetails"></app-artist-list>

  <h3>Reseñas</h3>
  <app-review-feed [userId]="user.id"></app-review-feed>

  <button *ngIf="!isFollowing && user.id !== currentUserId" (click)="followUser()">Seguir</button>
  <button *ngIf="isFollowing && user.id !== currentUserId" (click)="unfollowUser()">Dejar de seguir</button>
</div>

<div *ngIf="!user">
  <p>Cargando perfil...</p>
</div>

<button (click)="logOut()">Cerrar sesión</button>
