* {
  font-family: var(--fuente);
}
.artist-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.artist-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.perfil-artista {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-info {
  font-size: 24px;
  color: var(--verde);
}

.artist-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.album-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
}

.album-list::-webkit-scrollbar {
  display: none;
}

.album-item {
  text-align: center;
  width: 120px;
}

.album-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.album-item:hover img {
  transform: scale(1.05);
}

.album-item p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}
