<div class="review-feed">
  <div
    *ngFor="let review of reviews; let i = index"
    [attr.id]="'review-' + review.id">

    <app-review
      [review]="review"
      [userInfo]="getUserInfo(i)"
      [albumInfo]="getAlbumInfo(i)"
      [currentUserId]="currentUser?.uid"
      [getUserName]="getUserName.bind(this)"
      (likeToggled)="toggleLike($event)"
      (commentAdded)="addCommentToReview($event.reviewId, $event.comment)"
      (editRequested)="onEditRequested($event)"
      (deleteRequested)="onDeleteRequested($event)">
    </app-review>

  </div>

  <app-create-review
    *ngIf="reviewToEdit"
    [reviewToEdit]="reviewToEdit"
    [selectedAlbum]="editingAlbum"
    (close)="closeEditor()"
    (reviewUpdated)="onReviewUpdated($event)">
  </app-create-review>
</div>
